<launch>

<!-- A simple launch file for the urg_node package. -->

<!--  When using an IP-connected LIDAR, populate the "ip_address" parameter with the address of the LIDAR.
      Otherwise, leave it blank. If supported by your LIDAR, you may enable the publish_intensity
      and/or publish_multiecho options. -->
 <include file="$(find simple_navigation_goals)/launch/include/pose_GOAL_Point_2.launch.xml" />  

</launch>